h1 {
    color: #EEF4ED;
    background-color: #0B2545;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

body {
    color: #13315C;
    background-color: #8DA9C4;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}